/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "NumPad02.dtsi"

&default_transform {
    col-offset = <0>;
};

 &kscan0 {
    col-gpios
        = <&pro_micro 13 GPIO_ACTIVE_HIGH>
        , <&pro_micro 11 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 09 GPIO_ACTIVE_HIGH>    
        ;
};
